@import url('https://fonts.googleapis.com/css2?family=Akshar&family=Space+Grotesk:wght@500&display=swap');


*{
  font-family: 'Akshar', sans-serif;
font-family: 'Space Grotesk', sans-serif;
margin: 0px;

}

.App {
  background-color: #2a2a72;
background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  background-repeat: no-repeat;
  overflow-x: hidden;
  background-size: cover;
  background-attachment: fixed;
}


.header {
  position: relative;   
  margin-top: 0px;
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}

.header > input {
 background-color: white;
 height: 50px;
 border-radius: 20px;
 width: 22%;
 text-align: center;
}

.display {
  display: grid;
  width: 70%;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: #FAFAEB; 
  padding: 50px;
  border-radius: 30px;
  text-align: center;
 
}
.coin {
  text-align: center;
  padding: 20px;
  color: white;
  background-color: #242526;
  width: 350px;
  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  

}

.display .coin:last-child {
  justify-self: center;
  width: 350px;
  grid-column-start: span 1;
 }

.coin > h1 {
  color: peachpuff;
}
.coin > img {
  max-width: 20%;
}

 #price {
  color: #1be25d
}
#symbol {
  color: rgb(180, 187, 196);
}

.searchBar{
  margin: 100px;
}


#header-container {
  display: absolute;
  display:block;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 1350px;
}
select {
  margin: auto;
  width: 150px;
  height: 30px;
  border-radius: 30px;
  cursor: pointer;
}

select option {
  color: black;
  width: 150px;
  padding: 10px 15px;
  height: 30px;
  text-align: center;
  cursor: pointer;
}

